{% extends 'base.html' %}

{% block title %}Impressum{% endblock %}

{% block content %}
    <div class="container">
        <div class="content">
            <h1>Impressum</h1>

            <p>
            <address>
                Otto-von-Guericke-Universität Magdeburg<br>
                Fachschaftsrat der Fakultät für Maschinenbau<br>
                Universitätsplatz 2<br>
                39016 Magdeburg
            </address>
            </p>

            <h3>Vertreten durch</h3>

            <ul>
                <li>Lucas Häußer</li>
                <li>Tom Bothe</li>
                <li>Birte Manik</li>
            </ul>

            <h3>Kontakt</h3>

            <p>
                Telefon: <a href="tel:+493916751299">+49 391 67 51299</a><br>
                E-Mail: <a href="mailto:farafmb@ovgu.de">farafmb@ovgu.de</a>
            </p>

            <h3>Zuständige Aufsichtsbehörde</h3>

            <p>
                Ministerium für Wissenschaft, Energie, Klimaschutz und Umwelt des Landes Sachsen-Anhalt<br>
                Leipziger Straße 58<br>
                39112 Magdeburg
            </p>

            <h3>Disclaimer</h3>

            <p>
                Die auf dieser Website enthaltenen Informationen wurden mit größter Sorgfalt ausgewählt. Gleichwohl
                übernimmt der Fachschaftsrat der Fakultät für Maschinenbau (nachfolgend <em>Fachschaftsrat</em>
                genannt) keine Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der
                bereitgestellten Informationen.

                Der Fachschaftsrat bzw. die für die Erstellung dieser Website Verantwortlichen haften nicht für Schäden
                materieller oder immaterieller Art, die durch die Nutzung oder Nichtnutzung dieser Informationen oder
                durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, es sei denn, sie
                beruhen auf Vorsatz oder grober Fahrlässigkeit.

                Alle Internetangebote sind freibleibend und unverbindlich. Der Fachschaftsrat behält sich vor, Teile
                seiner Webseiten oder das gesamte Internetangebot ohne vorherige Bekanntmachung zu verändern, zu
                ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
            </p>

            <h3>Links</h3>

            <p>
                Soweit der Fachschaftsrat direkt oder indirekt auf fremde Webseiten verweist (<em>Hyperlinks</em>), ist
                er für deren Inhalte nicht verantwortlich. Der Inhalt der verlinkten Webseiten liegt nicht im
                Verantwortungsbereich des Fachschaftsrates, sondern ausschließlich bei den jeweiligen Betreibern. Zum
                Zeitpunkt der Verlinkung waren auf diesen Websites keine illegalen Inhalte erkennbar. Sollten dem
                Fachschaftsrat nach der Verlinkung illegale Inhalte bekannt werden, wird er diese Verweise auf fremde
                Webseiten unverzüglich aus seinem Informationsangebot entfernen.

                Der Fachschaftsrat hat keinen Einfluss auf die Gestaltung, die Inhalte oder die Urheberschaft der
                verlinkten Seiten. Er distanziert sich ausdrücklich von allen Inhalten der verlinkten Seiten, die nach
                der Verlinkung verändert wurden. Vorstehendes gilt für alle innerhalb des Internetangebotes des
                Fachschaftsrates gesetzten Links und Verweise sowie für Fremdeinträge in vom jeweiligen Autor
                eingerichteten Gästebüchern, Diskussionsforen, Linkverzeichnissen, Mailinglisten und in allen anderen
                Formen von Datenbanken, auf deren Inhalt externe Schreibzugriffe möglich sind. Für illegale,
                fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder
                Nichtnutzung derart dargebotener Informationen entstehen, haftet allein der Autor der Seite, auf welche
                verwiesen wurde.
            </p>

            <h3>Urheber- und Kennzeichenrecht</h3>

            <p>
                Der Fachschaftsrat ist bestrebt, die Urheberrechte der verwendeten Bilder, Graphiken, Tondokumente,
                Videosequenzen und Texte (nachfolgend <em>Objekte</em> genannt) zu beachten, von ihm selbst erstellte
                Objekte zu nutzen oder auf lizenzfreie Objekte zurückzugreifen.

                Alle auf dieser Webseite genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen
                unterliegen den Regelungen des jeweils geltenden Kennzeichenrechts und den Besitzrechten der jeweils
                eingetragenen Eigentümer. Eine bloße Nennung der Marken- und Warenzeichen bedeutet nicht, dass diese
                nicht durch Rechte Dritter geschützt sind.

                Das Urheberrecht für die auf dieser Webseite vom Fachschaftsrat erstellten Objekte liegt beim
                Fachschaftsrat.

                Ohne Zustimmung des Fachschaftsrates ist eine Vervielfältigung oder Verwendung solcher Objekte in
                anderen elektronischen oder gedruckten Publikationen nicht zulässig.
            </p>
        </div>
    </div>
{% endblock %}
