{% extends 'base.html' %}

{% block title %}Erfolg{% endblock %}

{% block page %}
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">Erfolgreich beworben</p>
                <p class="subtitle">
                    Du hast dich erfolgreich als Helfer:in beworben. Wir werden uns einige <br>
                    Tage vor der Veranstaltung bei dir per E-Mail melden.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
