{% extends 'base.html' %}

{% block title %}Allgemeine Geschäftsbedingungen{% endblock %}

{% block content %}
    <div class="content">
        <h1>Allgemeine Geschäftsbedingungen für die Veranstaltung <em>Mensaparty</em></h1>

        <p>
            Zur besseren Lesbarkeit ist der folgende Text im generischen Maskulinum geschrieben. Weibliche und
            anderweitige Geschlechteridentitäten werden dabei ausdrücklich mitgemeint.
        </p>

        <h3>1. Haftung</h3>
        <p>
            Mit dem Kauf einer Eintrittskarte zur Veranstaltung <em>Mensaparty</em> der Fachschaftsräte der
            Otto-von-Guericke-Universität Magdeburg (OVGU) nimmt der Käufer zur Kenntnis, dass kein
            Versicherungsschutz besteht und die Teilnahme auf eigene Gefahr erfolgt. Der Käufer tritt explizit von
            seinem Recht ab, Schadensersatzansprüche geltend zu machen, welche während des Besuchs der Veranstaltung
            entstehen. Jeder Käufer nimmt auf eigene Verantwortung an der Veranstaltung <em>Mensaparty</em> teil. Wir
            übernehmen keine Haftung, insbesondere nicht für jegliche Art von Unfällen, Alkoholvergiftungen oder
            Infektionen. Dies betrifft explizit auch die Infektion mit dem Sars-Cov 2 Virus. Ausgeschlossen hiervon
            sind Haftungen auf gesetzlicher Grundlage. Wir, die Fachschaftsräte der OVGU, bemühen uns um einen
            reibungslosen Ablauf, können aber keine Garantie für die Qualität der Veranstaltung oder das Ausbleiben von
            Störungen übernehmen. Wir, als Veranstalter, behalten uns Änderungen und Ergänzungen dieser Regelungen vor.
        </p>

        <h3>2. Anmeldung und Vertragsschluss</h3>
        <p>
            Die Anmeldung zur Teilnahme an der Veranstaltung ist ausschließlich über den Kauf der offiziellen Tickets
            der Veranstalter möglich. Der Teilnehmer nimmt das Angebot für den Abschluss eines Kaufvertrages an,
            indem er den Kaufvorgang des Tickets vollständig durchführt. Die wirksame Annahme des Angebots durch den
            Teilnehmer setzt voraus, dass der Teilnehmer diese AGB akzeptiert hat.
        </p>

        <h3>3. Preise</h3>
        <p>
            Der in der Teilnahmebescheinigung genannte Preis ist der Endpreis und gegenüber dem Teilnehmer verbindlich.
            Alle Preise enthalten, soweit erforderlich, die fällige Umsatzsteuer.
        </p>

        <h3>4. Leistungen</h3>
        <p>
            Der Umfang der vertraglichen Leistung im Rahmen der Veranstaltung ergibt sich aus den
            Informationsunterlagen, den Angaben auf der Veranstaltungswebseite, gegebenenfalls vorhandenen
            Anmeldeformularen und der Teilnahmebestätigung des Veranstalters. Bei Widersprüchen ist die
            Leistungsbeschreibung in der Buchungsbestätigung ausschlaggebend.
        </p>


        <h3>5. Veröffentlichung von Bildmaterial</h3>
        <p>
            Hiermit erklärt der Veranstalter für die Veranstaltung <em>Mensaparty</em>, dass Fotos und Videomaterial,
            die im Rahmen der Veranstaltung entstanden sind und die Wiedergabe einer Veranstaltung des Zeitgeschehens
            darstellen, sowie Teilnehmer als Beiwerk abbilden, von den Fachschaftsräten der OVGU verwendet sowie für
            fakultätsinterne Zwecke genutzt und veröffentlicht werden. Eine Identifikation einzelner Personen wird nach
            bestem Gewissen vermieden. Ausgeschlossen für eine weitere Verwendung sind gewaltverherrlichende und
            bloßstellende Fotos und Videos. Jeder Teilnehmer besitzt das Recht, bei Identifikation auf veröffentlichen
            Bilder und Videos, diese bei den Fachschaftsräten anzuzeigen. Die Fachschaftsräte werden entsprechende
            Bilder und Videos zeitnah von ihren öffentlichkeitswirksamen Auftritten entfernen. Für Veröffentlichungen
            durch Privataufnahmen anderer Teilnehmer und Dritter übernehmen die Fachschaftsräte keine Haftung.
        </p>

        <h3>6. Absage der Veranstaltung</h3>
        <p>
            Aus dringlichen Gründen oder aufgrund höherer Gewalt können die Veranstalter mit einer angemessenen Frist
            die Veranstaltung absagen.
        </p>
    </div>
{% endblock %}
